<div class="container my-5">
  <h1 class="mb-3">Games list</h1>

  <div *ngIf="gamesList && gamesList.length>0">
    <div class="row" *ngFor="let gamesArray of gamesList">
      <div class="col-sm-3" *ngFor="let game of gamesArray">
        <a [routerLink]="['/games', game.id]">{{ game.id }}</a>
        <a class="link-danger" (click)="deleteGame(game.id)">Delete</a>
      </div>
    </div>
  </div>

  <p *ngIf="gamesList && gamesList.length === 0">No games found</p>
  <button class="btn btn-primary" (click)="addNewGame()">Add new game</button>
</div>
