<div class="container my-5">
  <h1 class="mb-3">Games list</h1>

  <div class="row" *ngIf="gamesList.length > 0">
    <div class="col-sm-4 mb-3" *ngFor="let game of gamesList">
      <app-game-card
        [game]="game"
        (deleteEvent)="deleteGame($event)"
      ></app-game-card>
    </div>
  </div>

  <p *ngIf="gamesList.length === 0">No games found</p>

  <div class="row mt-3">
    <div class="col-12">
      <button class="btn btn-primary" (click)="addNewGame()">
        Add new game
      </button>
    </div>
  </div>
</div>
