<div class="card">
  <div
    class="card-header d-flex flex-row justify-content-between align-items-end"
  >
    <h5 class="card-title">{{ playerName }}</h5>
    <button
      class="btn btn-primary"
      *ngIf="!playerInfo.player && game?.status === gameStatusEnum.Idle"
      (click)="addPlayer()"
    >
      Join
    </button>
    <img
      src="../../../assets/dealer.png"
      class="dealer-button"
      *ngIf="playerInfo.player && playerInfo.player.playerId === game?.dealerId"
    />
  </div>

  <div class="card-body">
    <app-deck-card [card]="playerInfo.playerHole?.holeCard1"></app-deck-card>
    <app-deck-card [card]="playerInfo.playerHole?.holeCard2"></app-deck-card>
  </div>

  <div class="card-footer" [ngSwitch]="playerInfo.player?.playerStatus">
    <p class="text-success" *ngSwitchCase="playerStatusEnum.Winner">Winner!</p>
    <p class="text-danger" *ngSwitchCase="playerStatusEnum.Waiting">
      Waiting...
    </p>
    <p *ngSwitchDefault>Player status</p>
  </div>
</div>
