<div class="container my-5">
  <h1 class="mb-3">Game number {{ game?.id }}</h1>

  <div class="row">
    <div class="col-6">
      <app-player-card
        [position]="0"
        (addPlayerEvent)="addPlayer(0)"
        (playerMoveEvent)="playerMove($event)"
      ></app-player-card>
    </div>
    <div class="col-6">
      <app-player-card
        [position]="1"
        (addPlayerEvent)="addPlayer(1)"
        (playerMoveEvent)="playerMove($event)"
      ></app-player-card>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-12">
      <app-dealer-table
        [game]="game"
        (startGameEvent)="startGame()"
        (progressGameEvent)="progressGame()"
        (nextRoundEvent)="nextRound()"
      ></app-dealer-table>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <app-player-card
        [position]="2"
        (addPlayerEvent)="addPlayer(2)"
        (playerMoveEvent)="playerMove($event)"
      ></app-player-card>
    </div>
    <div class="col-6">
      <app-player-card
        [position]="3"
        (addPlayerEvent)="addPlayer(3)"
        (playerMoveEvent)="playerMove($event)"
      ></app-player-card>
    </div>
  </div>
</div>
