div.deck-card {
  width: 80px;
  height: 100px;
}

div.deck-card span.suit {
  font-size: 3rem;
  line-height: 0.6;
}

div.deck-card span.value {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.5;
}
